src/.vs/
src/XPath31.interp
src/XPath31.tokens
src/XPath31BaseListener.cs
src/XPath31Lexer.cs
src/XPath31Lexer.interp
src/XPath31Lexer.tokens
src/XPath31Listener.cs
src/XPath31Parser.cs
src/XPath31BaseVisitor.cs
src/XPath31Visitor.cs
.vs/
ClassLibrary1/obj/
ClassLibrary2/bin/
ClassLibrary1/bin/
ClassLibrary2/obj/
ConsoleApp1/bin/
ConsoleApp1/obj/
src/obj/
